/* styles */

/* size of margin, border and padding is included in size of element
   in internal CSS calculations */
* {
  box-sizing: border-box;
}

body {
  /* font stack */
  font-family: Verbana, sans-serif;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  flex-grow: 0;

}

.headerTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  margin-top: 30px;



}
@media (max-width: 600px) {
  .headerTitle {
    margin-left: 10vw;
    margin-bottom: 30px;


  }
}


@media (min-width: 601px) {
  .headerTitle {
    margin-left: 5vw;

  }
}


main {
  width: 90%;
  margin: 0 auto;

  flex-grow: 1;

  /* flex container commands */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}







footer {
  flex-grow: 0;

  /* flex container commands */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1em 0;
}

/*----------------- START OF MY CODE -----------------------------*/

/*---------- postcardToDisplay --------- */
#postcardToDisplay {
  background-color: #e6e2cf;

  border-radius: 25px;
  max-width: 700px;
  padding-top: 2vh;
}



@media (min-width: 601px) {
  #postcardToDisplay {
    width: 100%;
    height: 55vh;

    display: flex;
    flex-direction: row;


  }
}


@media (min-width: 601px) {
  #imageSelectorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 95%;
  }
}

@media (min-width: 601px) {
  .messageBox {
    width: 50%;
    height: 95%;

    padding-left: 15px;

  }
}

@media (min-width: 601px) {
  img#serverImage {
    object-fit: cover;

    width: 90%;
    height: 100%;

    border-style: solid;
    border-right: black solid 2px;
  }
}






/* ----------MOBILE VIEWPORT FROM IMAGES ------- */
@media (max-width: 600px) {
  #postcardToDisplay {
    width: 100%;
    height: 80vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 600px) {
  #imageSelectorWrapper {
    border-bottom: 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: auto;
    max-height: 65%;
  }

}

@media (max-width: 600px) {
  .messageBox {
    height: 55%;
    width: 80%;

  }
}

@media (max-width: 600px) {
  img#serverImage {

    width: 100%;
    height: 100%;
  }
}
















.messageBox {

  padding-top: 3vh;


}



#writtenMessage {
  width: 100%;
  height: 95%;
  font-family: 'Indie Flower';
  font-size: 18px;

  background-color: #e6e2cf;
  border-width: 0px;

  top: 0%;

}


/* ------ REPLACE IMAGE ----- */
